.landing-page{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(225, 188, 142), rgb(255, 255, 255));
}

#landing-image{
    width: 250px;
    margin: 10px;
    margin-top: 70px;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* left: 45px;
    top: 60px */
}

#larger-landing-image{
    width: 600px;
}

.landing-page-tech-words{
    font-size: xx-large;
    margin: 0px;
    position: relative;
    /* bottom: 11px; */
}

/* @media screen and (max-width: 374px){
    .landing-page{
        overflow: hidden;
    }
} */

.landing-titles{
    /* padding: 10px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 250px;
}

.image-container{
    /* position: relative; */
}

@media screen and (min-width: 375px){
    #landing-image{
        width: 350px;
    }
}

@media screen and (min-width: 450px){
    #landing-titles{
        width: auto;
        text-align: center;
    }
}

@media screen and (min-width: 600px){
    #landing-image{
        width: 550px;
    }
}

/* @media screen and (min-width: 375px) {
    .landing-page-phrases{
        position: static;
    }
} */

/* @media screen and (min-width: 450px) {
    #landing-image{
        left: 100px;
    }
} */

/* @media screen and (min-width: 600px){
    #landing-image{
        width: 450px;
        left: 150px;
    }
} */

@media screen and (min-width: 800px){
    .image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landing-page{
        background-color: burlywood;
        height: 580px;
        background-image: none;   
    }
} 

#experience-in{
    display: flex;
    width: 800px;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding-left: 230px;
}

@media screen and (max-width: 800px){
    #experience-in{
        display: none;
    }
}