
.nav-image-grid{
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: large;
    color: black;
    width: 100px;
    margin-bottom: 40px;
}

.nav-image-grid p{
    margin: 0px;
}

.nav-image-grid a:link{
    color:rgb(0, 0, 0);
}

.nav-image-grid a:visited{
    color:rgb(0, 0, 0);
}

.icons{
    width: 50px;
    transition: all 0.2s ease-in-out;
}

.icons:hover{
    color: rgb(223, 146, 52);
}

@media screen and (min-width: 800px){
    .nav-image-grid{
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}