#nc-games-logo{
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 300px){
    #nc-games-logo{
        width: 200px;
    }
}

#myd-logo{
    border-radius: 20px;
    width: 100px;
    height: 151px;
    margin: auto;
    margin-top: 20px;
}

#calc{
    width: 100px;
    height: 151px;
    margin: auto;
    margin-top: 20px;
}

#italian-flag{
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

.portfolio-cards{
    margin-bottom: 40px;
    background-color: beige;
}

.portfolio-cards p{
    text-align: left;
    margin-left: 10px;
}

.portfolio-page h2{
    margin: 20px auto 20px auto;
}

@media screen and (min-width: 575px){
    #website-portfolio-card{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .portfolio-cards{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 992px){
    .portfolio-cards{
        width: auto;
    }
    .portfolio-card-buttons{
        position: relative;
        left: 0;
        bottom: 0;
    }
    #website-portfolio-card{
        margin: auto;
        width: 450px;
    }
    #italian-flag{
        margin-top: 26px;
        width: 250px;
    }
}

@media screen and (min-width: 1400px){
    .portfolio-cards{
        height: auto;
    }
}
