.portfolio-article-page  h1{
    margin: 20px;
}

.portfolio-article-links{
    list-style-type: none;
    padding: 0;
}

.portfolio-article-page img{
    width: 300px;
    border: solid black 1px;
    border-radius: 20px;
}

.portfolio-article-tech-stack{
    text-align: left;
    margin: 20px;
    font-size: large;
}

.portfolio-article-page p{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 300px) {
    .portfolio-article-page img{
        width: 250px;
    }
    .portfolio-article-page p{
       margin-right: 20px;
    }
}

.portfolio-article-page figcaption{
    margin: 20px;
}


.portfolio-article-page button{
    margin: 20px;
    margin-top: 0px;
}

@media screen and (min-width: 700px){
    .portfolio-article-page p{
        width: 700px;
        margin: auto;
        margin-bottom: 10px;
    }
    .portfolio-article-page button{
        margin: 20px;
    }
    .portfolio-article-tech-stack{
        width: 650px;
        margin: 10px auto 10px auto;
    }
    #calculator-screenshot{
        width: 600px;     
    }
    #conj-screenshot{
        width: 450px;
    }
}
