.tech-cards p{
    text-align: left;
    margin-left: 10px;
    align-items: center;
}

.tech-cards{
    margin-bottom: 40px;
    background-color: beige;
}



@media screen and (max-width: 770px){
    .tech-card-grid{
        width: 500px;
        margin: auto;
        margin: auto;
    }
}

@media screen and (max-width: 500px){
    .tech-card-grid{
        width: auto;
    }
}

#icon{
    margin: 20px;
}

@media screen and (min-width: 770px){
    .tech-cards{
        height: 380px;
    }
    .tech-card-grid{
        width: 770px;
        margin: auto;
        margin: auto;
    }
}

@media screen and (min-width: 1200px){
    .tech-cards{
        height: 460px;
    }
    .tech-card-grid{
        width: 1200px;
    }
}

@media screen and (min-width: 1400px){
    .tech-cards{
        height: 410px;
    }
    .tech-card-grid{
        width: 1400px;
    }
}

.tech-card-grid-last-row{
    justify-content: center;
}

#skills-bottom-spacer{
    padding-bottom: 40px;
}